@forward '../utils/animations';

.carousel {
  width: 100%;
  height: 78%;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-animation: show-up 500ms ease-in forwards;
  animation: show-up 500ms ease-in forwards;
}

.carousel_img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 400px;
  height: 400px;
}
